ADMIN_EMAIL=
ADMIN_PASSWORD=
EMAIL_PASSWORD=
EMAIL_USERNAME=
PASSWORD_DATASOURCE=
SWAGGER_COMMUN_EXTENSIONS=
SWAGGER_PATH=
SWAGGER_SHOW_EXTENSIONS=
ER_UI_DEFAULT_MODEL=
SWAGGER_UI_EXPANSION=
SWAGGER_UI_OPERATIONS=
SWAGGER_UI_PATH=
SWAGGER_UI_REQUEST_DURATION=
SWAGGER_UI_TAGS=
TOKEN_KEY=
URL_DATASOURCE=
USERNAME_DATASOURCE=
